*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@-webkit-keyframes hover {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
}

@keyframes hover {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
}

@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate 0deg;
            transform: rotate 0deg;
  }
  100% {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
}

@keyframes rotate {
  0% {
    -webkit-transform: rotate 0deg;
            transform: rotate 0deg;
  }
  100% {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
}

#section-main {
  padding: 0 1rem;
}

#section-main .control-panel {
  background-color: #284b63;
  border-bottom: 1px solid #000;
  border-radius: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0.5rem;
  padding: 1rem;
}

#section-main .control-panel div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#section-main .control-panel div input {
  border-radius: 2rem;
  border: none;
  height: 25px;
  outline: none;
  padding: 0 1rem;
  width: 250px;
}

#section-main .control-panel div button {
  font-size: 1.5rem;
  color: #ffffff;
  border: none;
  background-color: transparent;
  margin-left: 1rem;
}

#section-main .control-panel div button:hover {
  cursor: pointer;
  color: #d9d9d9;
}

#section-main .data-container {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 300;
  overflow: hidden;
  padding: 0 1rem;
}

#section-main .data-container li {
  background-color: #d9d9d9;
  border-bottom: 1px solid #000;
  border-radius: 1rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3] 0.3fr;
      grid-template-columns: repeat(3, 1fr) 0.3fr;
  list-style: none;
  margin-bottom: 0.5rem;
  padding: 0.1rem 1rem;
}

#section-main .data-container li div {
  text-align: right;
}

#section-main .data-container li button {
  border: none;
  background-color: transparent;
  margin-left: 1rem;
}

#section-main .data-container li button:hover {
  cursor: pointer;
  color: #ffffff;
}

#section-main .data-container li:hover {
  background-color: #284b63;
  color: #ffffff;
}

#pop {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(60, 110, 113, 0.6);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Mulish", sans-serif;
  height: 100vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  left: 0;
  position: fixed;
  top: 0;
  width: 100vw;
}

#pop #pop-container {
  background-color: #d9d9d9;
  border-bottom: 1px solid #000;
  border-radius: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 2rem;
  text-align: center;
}

#pop #pop-container h2 {
  margin-bottom: 0.5rem;
}

#pop #pop-container input,
#pop #pop-container select {
  border-radius: 2rem;
  border: none;
  height: 30px;
  margin-bottom: 0.5rem;
  outline: none;
  padding: 0 1rem;
  width: 100%;
}

#pop #pop-container select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  cursor: pointer;
}

#pop #pop-container button {
  background-color: #3c6e71;
  border-radius: 1rem;
  border: none;
  color: #ffffff;
  font-family: "Mulish", sans-serif;
  -ms-grid-column-align: right;
      justify-self: right;
  padding: 0.5rem 1rem;
}

#pop #pop-container button:hover {
  cursor: pointer;
  background-color: #284b63;
}

#response-container {
  margin-top: 0.5rem;
  text-align: center;
}

#response {
  border-radius: 1rem;
  font-family: "Josefin Sans", sans-serif;
  padding: 0.5rem 1rem;
  text-align: center;
}

#response .fas {
  margin-right: 0.5rem;
}

.response-success {
  background-color: #00ff0066;
}

.response-error {
  background-color: #ff000066;
}

.limiter {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #3c6e71;
  border-bottom: 1px solid #000;
  border-radius: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 0.5rem 0.5rem 0.5rem;
  padding: 0.1rem 1rem;
  font-family: "Mulish", sans-serif;
  color: #ffffff;
}

.limiter .fas:hover {
  cursor: pointer;
  color: #353535;
}

.vertical-expand {
  height: auto !important;
}

.horizontal-expand {
  width: auto !important;
}

#section-main {
  margin: 0.5rem 0;
}

#section-login {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Mulish", sans-serif;
  height: 100vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: fixed;
  width: 100vw;
}

#section-login .container {
  background-color: #d9d9d9;
  border-bottom: 1px solid #000;
  border-radius: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 2rem;
  text-align: center;
}

#section-login .container h1 {
  font-size: 2rem;
  margin-bottom: 0.5rem;
}

#section-login .container input {
  border-radius: 2rem;
  border: none;
  height: 30px;
  margin-bottom: 0.5rem;
  outline: none;
  padding: 0 1rem;
  width: 100%;
}

#section-login .container button {
  background-color: #3c6e71;
  border-radius: 1rem;
  border: none;
  color: #ffffff;
  font-family: "Mulish", sans-serif;
  -ms-grid-column-align: right;
      justify-self: right;
  padding: 0.5rem 1rem;
}

#section-login .container button:hover {
  cursor: pointer;
  background-color: #284b63;
}

nav {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Mulish", sans-serif;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0.5rem 0.5rem 0 0.5rem;
}

nav #home {
  background-color: #3c6e71;
  color: #ffffff;
  border-bottom: 1px solid #000;
  border-radius: 2rem;
  margin-right: 0.5rem;
  padding: 1rem;
}

nav ul {
  background-color: #d9d9d9;
  border-bottom: 1px solid #000;
  border-radius: 2rem;
  padding: 1rem;
  text-align: right;
  width: 100%;
}

nav ul li {
  display: inline-block;
  padding: 0 1rem;
}

nav #home:hover {
  background-color: #d9d9d9;
  cursor: pointer;
  color: #000;
}

nav li:hover {
  -webkit-animation: hover 0.1s linear forwards;
          animation: hover 0.1s linear forwards;
  cursor: pointer;
}

.table {
  height: 30px;
  list-style: none;
  overflow: hidden;
}

.table .table-header {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #3c6e71;
  border-bottom: 1px solid #000;
  border-radius: 1rem;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Mulish", sans-serif;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 0.5rem;
  padding: 0.2rem 1rem;
}

.table .table-header .inputs {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  text-align: right;
}

.table .table-header .inputs .inputs-hide {
  height: 0;
  overflow: hidden;
  width: 0;
}

.table .table-header .inputs .inputs-hide input {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #ffffff;
  color: #ffffff;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 300;
  outline: none;
}

.table .table-header .inputs .inputs-hide input::-webkit-input-placeholder {
  color: #ffffff;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 300;
}

.table .table-header .inputs .inputs-hide input:-ms-input-placeholder {
  color: #ffffff;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 300;
}

.table .table-header .inputs .inputs-hide input::-ms-input-placeholder {
  color: #ffffff;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 300;
}

.table .table-header .inputs .inputs-hide input::placeholder {
  color: #ffffff;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 300;
}

.table .table-header .inputs .inputs-hide .fa-search {
  font-size: 0.7rem;
}

.table .table-header .inputs .inputs-hide .fa-plus-square {
  margin-left: 1rem;
}

.table .table-header .inputs .fa-angle-down {
  margin-left: 2rem;
}

.table .table-header .inputs .fas:hover {
  color: #000;
  cursor: pointer;
}

.table .table-data {
  background-color: #d9d9d9;
  border-bottom: 1px solid #000;
  border-radius: 1rem;
  display: -ms-grid;
  display: grid;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 300;
  -ms-grid-columns: 0.03fr 1fr 0.3fr;
      grid-template-columns: 0.03fr 1fr 0.3fr;
  margin: 0 1rem 0.5rem 1rem;
  padding: 0.2rem 1rem;
  text-align: left;
}

.table .table-data div {
  text-align: right;
}

.table .table-data div button {
  background-color: transparent;
  border: none;
  margin-left: 0.5rem;
}

.table .table-data div button:hover {
  color: #ffffff;
  cursor: pointer;
}

.table .table-data:hover {
  background-color: #3c6e71;
  color: #ffffff;
}
/*# sourceMappingURL=main.css.map */