* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

$color1: #353535;
$color2: #3c6e71;
$color3: #ffffff;
$color4: #d9d9d9;
$color5: #284b63;
// $color1: #bee9e8;
// $color2: #62b6cb;
// $color3: #1b4965;
// $color4: #cae9ff;
// $color5: #5fa8d3;
// $color1: #6b9080;
// $color2: #a4c3b2;
// $color3: #cce3de;
// $color4: #eaf4f4;
// $color5: #f6fff8;
// $color1: #edafb8;
// $color2: #f7e1d7;
// $color3: #dedbd2;
// $color4: #b0c4b1;
// $color5: #4a5759;
// $color1: #c9e4ca;
// $color2: #87bba2;
// $color3: #55828b;
// $color4: #3b6064;
// $color5: #364958;

body {
  background-color: $color3;
  color: $color1;
  #section-login {
    position: fixed;
    height: 100vh;
    width: 100vw;
    background-color: $color2;
    font-family: "Mulish", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    .container {
      text-align: center;
      padding: 2rem;
      display: flex;
      flex-direction: column;
      width: 30%;
      background-color: $color3;
      h1 {
        font-size: 2rem;
      }
      input {
        outline: none;
        padding: 0 1rem;
        border: none;
        height: 30px;
        margin: 1rem 0;
      }
      input[type="button"] {
        background-color: $color1;
      }
      input[type="button"]:hover {
        cursor: pointer;
        background-color: $color4;
      }
    }
  }
}
@keyframes hover {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
}
#section-main {
  padding: 0 1rem;
  .control-panel {
    background-color: $color5;
    border-bottom: 1px solid #000;
    border-radius: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0.5rem;
    padding: 1rem;
    div {
      display: flex;
      input {
        border-radius: 2rem;
        border: none;
        height: 25px;
        outline: none;
        padding: 0 1rem;
        width: 250px;
      }
      button {
        font-size: 1.5rem;
        color: $color3;
        border: none;
        background-color: transparent;
        margin-left: 1rem;
      }
      button:hover {
        cursor: pointer;
        color: $color4;
      }
    }
  }
  #areas {
    font-family: "Josefin Sans", sans-serif;
    font-weight: 300;
    padding: 0 1rem;
    li {
      align-items: center;
      background-color: $color4;
      border-bottom: 1px solid #000;
      border-radius: 1rem;
      display: flex;
      justify-content: space-between;
      list-style: none;
      margin-bottom: 0.5rem;
      padding: 0.1rem 1rem;
      button {
        border: none;
        background-color: transparent;
        margin-left: 1rem;
      }
      button:hover {
        cursor: pointer;
        color: $color3;
      }
    }
    li:hover {
      background-color: $color5;
      color: $color3;
    }
  }
}
#pop {
  align-items: center;
  background-color: rgba($color: $color2, $alpha: 0.6);
  display: flex;
  font-family: "Mulish", sans-serif;
  height: 100vh;
  justify-content: center;
  left: 0;
  position: absolute;
  top: 0;
  width: 100vw;
  #pop-container {
    background-color: $color4;
    border-bottom: 1px solid #000;
    border-radius: 2rem;
    padding: 2rem;
    text-align: right;
    input {
      border-radius: 2rem;
      border: none;
      display: block;
      height: 30px;
      margin: 1rem 0;
      outline: none;
      padding: 0 1rem;
      width: 100%;
    }
    button {
      background-color: $color2;
      border-radius: 1rem;
      border: none;
      color: $color3;
      font-family: "Mulish", sans-serif;
      justify-self: right;
      padding: 0.5rem 1rem;
      text-align: center;
    }
    button:hover {
      cursor: pointer;
      background-color: $color5;
    }
  }
}

@import "./nav";
